
.photo_form_container {
  width: 540px; 
  height: 305px; 
  background: white; 
  border-radius: 3px; 
}

.the_actual_photo_form {
  width: 100%; 
}



.body_input_photo_form_container {
  width: 100%;
  
}