.text_post_form_container {

}

.the_actual_text_post_form {
  min-height: 80px;
  line-height: 21px;
  word-wrap: break-word;
  width: 500px;

}

.title-input-text_post_form_container {
  min-height: 47px;
  font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
}

.body-input-text_post_form_container {
  margin-bottom: 0;
  line-height: 21px;
  word-wrap: break-word;
  width: 500px;
}

.close-text-post-modal {
  font-size: 13px;
  font-weight: 700;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 7px;
  border-radius: 2px;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
  line-height: 1.4;
  text-decoration: none;
  border: 1px solid #9da6af;
  background-color: #9da6af;
  color: #fff;
}