.text_post_form_container {
  
}

.the_actual_text_post_form {
  // min-height: 99px;
  height: 290px; 
  width: 540px;
  background-color: #fff;
  border-radius: 3px;
}

.title-input-text_post_form_container {
  font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  min-height: 42px;
  word-wrap: break-word;
  width: 500px;
  border-style: none;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.body-input-text_post_form_container {
  margin-bottom: 0;
  line-height: 21px;
  word-wrap: break-word;
  width: 500px;
  border-style: none;
  margin-top: 10px;
  margin-left: 20px;
  height: 110px;
}

.close-text-post-modal {
  font-size: 13px;
  font-weight: 700;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 7px;
  border-radius: 2px;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
  line-height: 1.4;
  text-decoration: none;
  border: 1px solid #9da6af;
  background-color: #9da6af;
  color: #fff;
  margin: 20px;
}

.post-button-text-form {
  border-color: #00b8ff;
  background-color: #00b8ff;
  color: white;
  cursor: default;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 20px;
}

.buttons-container-text-form {
  display: flex;
  justify-content: space-between;
}

.text-form-username {
  margin-left: 20px;
  padding-top: 20px;
  font-weight: 700;
}




// Styling for the text posts from the post_index_item page 

.text-title {
  font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.text-body {
  font-size: 14px; 
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
  margin-left: 20px; 
  padding-right: 25px; 
}