


.recommended-blogs {
  font-family: Helvetica;
  color: white;
  position: relative;

  // left: 61%;
  z-index: 9;
  width: 320px;
  font-size: 20px;
  top: 50px; 
  margin-left: 50px;
}

// .blogs_to_the_right {
//   position: relative;
//   float: right;
//   margin-left: 30px;
//   top: 50px; 
// }

.Lebron_mad_blog_image {
  width: 70px;
  height: 70px;
  border-radius: 3px;
  object-fit: cover;
  margin: 5px;
}

.Iverson_Smiling {
  width: 70px;
  height: 70px;
  border-radius: 3px;
  object-fit: cover;
  margin: 5px;
}

.Doncic_silly {
  width: 70px;
  height: 70px;
  border-radius: 3px;
  object-fit: cover;
  margin: 5px;
}

.Lebron_blog_description {
  font-size: 15px;
  padding-left: 5px; 
}

.blog-1 {
  display: flex;
}

.blog-2 {
  display: flex;
}

.blog-3 {
  display: flex;
}

.Iverson_blog_description {
  font-size: 15px;
  padding-left: 5px; 
}

.Doncic_blog_description {
  font-size: 15px;
  padding-left: 5px; 
}