
// Need to modify the styling on this 

.post_index_parent_div {
  // background-color: #001935;
  color: black;

}

.post_index_unordered_list {

}

.post_index_item_image {
  vertical-align: middle;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
}

.post_index_list_item {
  
}