
.post_options_buttons {
  position: relative;
  display: inline-flex;
  justify-content: space-evenly;
  top: 50px;
  width: auto;
  height: auto;
  font-size: 25px;
  background-color: white;
  border-radius: 3px;
  list-style: none;
  cursor: pointer; 
  margin: 0 0 0 200px;
}




