// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign-up-login-background {
  background-image: image-url("Bundlr_App_Image_From_Unsplash.jpeg");
  height: 100%; 
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center; 
  background-repeat: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.Log-In-Or-Sign-Up {
  font-size: 20px; 
  position: relative; 
  left: 90%;
  top: 15px; 
  color: white;
  z-index: 1;
}



input {
  width: 100%;
  padding: 11px 10px 11px 13px;
  display: block;
  margin: 0;
  border: none;
  background: white;
  font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  cursor: pointer
}


.Bundlr-Big-Text {
  font-family: Georgia;
  color: white;
  font-size: 60px; 
  font-weight: 700;
  z-index: 0;
}

.login-form-container {
  animation: fadeIn 2s;
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@keyframes fadeIn {
	from { 
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}



.header-group {
  font-size: 20px; 
  position: relative;
  left: 72%;
}

.header-button {
  font-size: 12px;
  position: relative;
  left: 10%;
}

.session-submit {
  color: white; 
  background: #33CCFF;
}


.fa-file-archive {
  position: absolute; 
  top: 15px;
  left: 15px;
}

.Demo-Login-Button {
  color: black; 
  background: white;
  width: 100%;
  padding: 11px 10px 11px 13px;
  display: block;
  margin: 0;
  border: none;
  font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  cursor: pointer; 
}

