


.trending_posts_unordered_list {
  // margin: 0 0 0 200px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 30px 70px;
}

.trending_posts_unordered_list > li {
  // margin: 0 0 0 200px;
  width: 25%;
}

.trending_index_item_container {
  width: 25%;
  padding: 0px 10px;
  box-sizing: border-box;
}

.trending_index_item_image {
  // vertical-align: middle;
  width: 100%;
  // min-width: 50%;
  // max-width: 100%;
}

.trending_index_list_item {
  // width: 25%; 
  box-sizing: border-box;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  outline: 0;
  outline-style: none;
  outline-width: 0;
  -webkit-tap-highlight-color: transparent;
  background: #fff;
  // width: 540px;
  border-radius: 3px;
  
}

.trending_index_list_item > a {
  text-decoration: none;
  color: black;
}

.trending-title-text {
  height: 50px;
  padding-top: 15px;
  padding-left: 15px;
}



.fa-heart {
  position: relative;
  bottom: 5px;
  right: 5px; 
  cursor: pointer;
  font-size: 24px; 
  left: 85%;
}

.fas.red.fa-heart {
  color: red;
}